In [72]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

In [73]:
df=pd.read_csv(r'C:\Users\HP\.cache\kagglehub\datasets\breejeshdhar\career-recommendation-dataset\versions\1\career_recommender.csv')

In [74]:
df.head()

,What is your name?,What is your gender?,What was your course in UG?,What is your UG specialization? Major Subject (Eg; Mathematics),What are your interests?,What are your skills ? (Select multiple if necessary),What was the average CGPA or Percentage obtained in under graduation?,Did you do any certification courses additionally?,"If yes, please specify your certificate course title.",Are you working?,"If yes, then what is/was your first Job title in your current field of work? If not applicable, write NA.","Have you done masters after undergraduation? If yes, mention your field of masters.(Eg; Masters in Mathematics)"
0,A.Uha Priya,Female,B.Sc,Computer Applications,Cloud computing,Python;SQL;Java,85,Yes,"Linux,Git",Yes,Software,MCA
1,Aadil,Male,B.E,Computer Science Engineering,Technology,"Critical Thinking, Analytic Thinking, SQL, Pro...",66.5,Yes,Microsoft certification,Yes,Computer Software Engineer,NaN
2,Aakriti,Female,BA,Psychology,Understand human behaviour,People management;Communication skills,64.6,Yes,Resilience psychology,No,NaN,NaN
3,Aanchal sharma,Female,MBA,Commerce,Sales/Marketing;Trading;Understand human behav...,Accounting Skills;Critical Thinking,75.525,No,No,Yes,Relationships manager,NaN
4,Aangkeeta Sarkar,Female,B.Tech,Instrumentation Engineering,Technology,\nPLC Allen Bradley;PLC Ladder Logic;LabVIEW;B...,70.68,Yes,Extreme Productivity (Blinkist Summary),Yes,Plant Instrumentation Engineer,NaN

In [75]:
df.isnull().sum()

What is your name?                                                                                                            0
What is your gender?                                                                                                          0
What was your course in UG?                                                                                                   0
What is your UG specialization? Major Subject (Eg; Mathematics)                                                               0
What are your interests?                                                                                                      0
What are your skills ? (Select multiple if necessary)                                                                         1
What was the average CGPA or Percentage obtained in under graduation?                                                         0
Did you do any certification courses additionally?                                                                            0
If yes, please specify your certificate course title.                                                                         1
Are you working?                                                                                                              0
If yes, then what is/was your first Job title in your current field of work? If not applicable, write NA.                   296
Have you done masters after undergraduation? If yes, mention your field of masters.(Eg; Masters in Mathematics)             726
dtype: int64

In [76]:
df['What are your skills ? (Select multiple if necessary)'].mode()

0    NO
Name: What are your skills ? (Select multiple if necessary), dtype: object

In [77]:
df['What are your skills ? (Select multiple if necessary)'].fillna(df['What are your skills ? (Select multiple if necessary)'].mode()[0],inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_11320\1097511953.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['What are your skills ? (Select multiple if necessary)'].fillna(df['What are your skills ? (Select multiple if necessary)'].mode()[0],inplace=True)

In [78]:
df['If yes, then what is/was your first Job title in your current field of work? If not applicable, write NA.               '].mode()

0    Student (Unemployed)
Name: If yes, then what is/was your first Job title in your current field of work? If not applicable, write NA.               , dtype: object

In [79]:
df['If yes, then what is/was your first Job title in your current field of work? If not applicable, write NA.               '].fillna(df['If yes, then what is/was your first Job title in your current field of work? If not applicable, write NA.               '].mode()[0],inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_11320\1809626557.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['If yes, then what is/was your first Job title in your current field of work? If not applicable, write NA.               '].fillna(df['If yes, then what is/was your first Job title in your current field of work? If not applicable, write NA.               '].mode()[0],inplace=True)

In [80]:
df['Have you done masters after undergraduation? If yes, mention your field of masters.(Eg; Masters in Mathematics)'].mode()

0    Masters in Business Administration
Name: Have you done masters after undergraduation? If yes, mention your field of masters.(Eg; Masters in Mathematics), dtype: object

In [81]:
df['Have you done masters after undergraduation? If yes, mention your field of masters.(Eg; Masters in Mathematics)'].fillna(df['Have you done masters after undergraduation? If yes, mention your field of masters.(Eg; Masters in Mathematics)'].mode()[0],inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_11320\721167204.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Have you done masters after undergraduation? If yes, mention your field of masters.(Eg; Masters in Mathematics)'].fillna(df['Have you done masters after undergraduation? If yes, mention your field of masters.(Eg; Masters in Mathematics)'].mode()[0],inplace=True)

In [82]:

column_dict= {'What is your name?': 'Name',
               'What is your gender?': 'Gender',
               'What was your course in UG?': 'Course',
               'What is your UG specialization? Major Subject (Eg; Mathematics)': 'Specialization',
               'What are your interests?': 'Interest',
               'What are your skills ? (Select multiple if necessary)': 'Skills',
               'What was the average CGPA or Percentage obtained in under graduation?': 'Grades',
               'Did you do any certification courses additionally?': 'Any_Add_Cert_Courses',
               'If yes, please specify your certificate course title.': 'Cert_Courses_Desc',
               'Are you working?': 'Working?',
               'If yes, then what is/was your first Job title in your current field of work? If not applicable, write NA.               ': 'Job_Title',
               'Have you done masters after undergraduation? If yes, mention your field of masters.(Eg; Masters in Mathematics)': 'Masters_Desc'}

df = df.rename(columns=column_dict)

In [83]:
print(df.columns)

Index(['Name', 'Gender', 'Course', 'Specialization', 'Interest', 'Skills',
       'Grades', 'Any_Add_Cert_Courses', 'Cert_Courses_Desc', 'Working?',
       'Job_Title', 'Masters_Desc'],
      dtype='object')

In [84]:
df.drop(['Name', 'Specialization', 'Any_Add_Cert_Courses', 'Cert_Courses_Desc', 'Working?', 'Job_Title', 'Masters_Desc'], axis=1, inplace=True)

In [85]:
print(df.columns)

Index(['Gender', 'Course', 'Interest', 'Skills', 'Grades'], dtype='object')

In [ ]:
import sys
import klib

Requirement already satisfied: klib in c:\users\hp\anaconda3\lib\site-packages (1.3.2)
Requirement already satisfied: jinja2>=3.1.0 in c:\users\hp\anaconda3\lib\site-packages (from klib) (3.1.6)
Requirement already satisfied: matplotlib>=3.6.0 in c:\users\hp\anaconda3\lib\site-packages (from klib) (3.10.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\hp\anaconda3\lib\site-packages (from klib) (2.3.4)
Requirement already satisfied: pandas<3.0,>=1.4 in c:\users\hp\anaconda3\lib\site-packages (from klib) (2.3.3)
Requirement already satisfied: plotly>=5.11.0 in c:\users\hp\anaconda3\lib\site-packages (from klib) (5.24.1)
Requirement already satisfied: scipy>=1.10.0 in c:\users\hp\anaconda3\lib\site-packages (from klib) (1.15.3)
Requirement already satisfied: screeninfo>=0.8.1 in c:\users\hp\anaconda3\lib\site-packages (from klib) (0.8.1)
Requirement already satisfied: seaborn>=0.12.0 in c:\users\hp\anaconda3\lib\site-packages (from klib) (0.13.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\anaconda3\lib\site-packages (from pandas<3.0,>=1.4->klib) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas<3.0,>=1.4->klib) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\anaconda3\lib\site-packages (from pandas<3.0,>=1.4->klib) (2025.2)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\hp\anaconda3\lib\site-packages (from jinja2>=3.1.0->klib) (3.0.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=3.6.0->klib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=3.6.0->klib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=3.6.0->klib) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=3.6.0->klib) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=3.6.0->klib) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=3.6.0->klib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=3.6.0->klib) (3.2.5)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\hp\anaconda3\lib\site-packages (from plotly>=5.11.0->klib) (9.0.0)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas<3.0,>=1.4->klib) (1.17.0)

In [87]:
klib.convert_datatypes(df)

,Gender,Course,Interest,Skills,Grades
0,Female,B.Sc,Cloud computing,Python;SQL;Java,85
1,Male,B.E,Technology,"Critical Thinking, Analytic Thinking, SQL, Pro...",66.5
2,Female,BA,Understand human behaviour,People management;Communication skills,64.6
3,Female,MBA,Sales/Marketing;Trading;Understand human behav...,Accounting Skills;Critical Thinking,75.525
4,Female,B.Tech,Technology,\nPLC Allen Bradley;PLC Ladder Logic;LabVIEW;B...,70.68
...,...,...,...,...,...
1190,Male,B.Tech,Technology,"Python, SQL, Oracle",72.2
1191,Male,B.Sc,Technology,"SQL, Problem Solving skills",80.75
1192,Male,B.Tech,Technology;Content Writing,Programming Language skills;Critical Thinking;...,59.22
1193,Male,BE,"Financial Analysis, Technology","AI, Java, SQL, C++, R, Linux",57
1194,Male,B.Sc,Animation,2D/3D Animation,76.285

In [88]:
klib.clean_column_names(df)

,gender,course,interest,skills,grades
0,Female,B.Sc,Cloud computing,Python;SQL;Java,85
1,Male,B.E,Technology,"Critical Thinking, Analytic Thinking, SQL, Pro...",66.5
2,Female,BA,Understand human behaviour,People management;Communication skills,64.6
3,Female,MBA,Sales/Marketing;Trading;Understand human behav...,Accounting Skills;Critical Thinking,75.525
4,Female,B.Tech,Technology,\nPLC Allen Bradley;PLC Ladder Logic;LabVIEW;B...,70.68
...,...,...,...,...,...
1190,Male,B.Tech,Technology,"Python, SQL, Oracle",72.2
1191,Male,B.Sc,Technology,"SQL, Problem Solving skills",80.75
1192,Male,B.Tech,Technology;Content Writing,Programming Language skills;Critical Thinking;...,59.22
1193,Male,BE,"Financial Analysis, Technology","AI, Java, SQL, C++, R, Linux",57
1194,Male,B.Sc,Animation,2D/3D Animation,76.285

In [89]:
klib.data_cleaning(df)

Shape of cleaned data: (1180, 5) - Remaining NAs: 0


Dropped rows: 15
     of which 15 duplicates. (Rows (first 150 shown): [167, 293, 412, 446, 500, 629, 635, 694, 777, 863, 924, 1000, 1078, 1093, 1139])

Dropped columns: 0
     of which 0 single valued.     Columns: []
Dropped missing values: 0
Reduced memory by at least: 0.01 MB (-20.0%)

,gender,course,interest,skills,grades
0,Female,B.Sc,Cloud computing,Python;SQL;Java,85
1,Male,B.E,Technology,"Critical Thinking, Analytic Thinking, SQL, Pro...",66.5
2,Female,BA,Understand human behaviour,People management;Communication skills,64.6
3,Female,MBA,Sales/Marketing;Trading;Understand human behav...,Accounting Skills;Critical Thinking,75.525
4,Female,B.Tech,Technology,\nPLC Allen Bradley;PLC Ladder Logic;LabVIEW;B...,70.68
...,...,...,...,...,...
1175,Male,B.Tech,Technology,"Python, SQL, Oracle",72.2
1176,Male,B.Sc,Technology,"SQL, Problem Solving skills",80.75
1177,Male,B.Tech,Technology;Content Writing,Programming Language skills;Critical Thinking;...,59.22
1178,Male,BE,"Financial Analysis, Technology","AI, Java, SQL, C++, R, Linux",57
1179,Male,B.Sc,Animation,2D/3D Animation,76.285

In [90]:
klib.mv_col_handling(df)

c:\Users\HP\anaconda3\Lib\site-packages\klib\clean.py:443: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data_local[cols_mv] = data_local[cols_mv].applymap(lambda x: x if pd.isna(x) else 1).fillna(0)

,gender,course,interest,skills,grades
0,Female,B.Sc,Cloud computing,Python;SQL;Java,85
1,Male,B.E,Technology,"Critical Thinking, Analytic Thinking, SQL, Pro...",66.5
2,Female,BA,Understand human behaviour,People management;Communication skills,64.6
3,Female,MBA,Sales/Marketing;Trading;Understand human behav...,Accounting Skills;Critical Thinking,75.525
4,Female,B.Tech,Technology,\nPLC Allen Bradley;PLC Ladder Logic;LabVIEW;B...,70.68
...,...,...,...,...,...
1190,Male,B.Tech,Technology,"Python, SQL, Oracle",72.2
1191,Male,B.Sc,Technology,"SQL, Problem Solving skills",80.75
1192,Male,B.Tech,Technology;Content Writing,Programming Language skills;Critical Thinking;...,59.22
1193,Male,BE,"Financial Analysis, Technology","AI, Java, SQL, C++, R, Linux",57
1194,Male,B.Sc,Animation,2D/3D Animation,76.285

In [91]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [92]:
df['gender'] = le.fit_transform(df['gender'])
df['course'] = le.fit_transform(df['course'])

In [93]:
df['interest'] = df['interest'].apply(lambda x: [interest.lower().strip() for interest in x.replace(';', ',').split(',')])
df['skills'] = df['skills'].apply(lambda x: [skill.lower().strip() for skill in x.replace(';', ',').split(',')])

In [94]:
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()

In [95]:
mlb_interest = MultiLabelBinarizer()
mlb_skills = MultiLabelBinarizer()

encoded_interest = mlb_interest.fit_transform(df['interest'])
encoded_skills = mlb_skills.fit_transform(df['skills'])

df_encoded = pd.concat([df.drop(['interest', 'skills'], axis=1), pd.DataFrame(encoded_interest, columns=mlb_interest.classes_, index=df.index), pd.DataFrame(encoded_skills, columns=mlb_skills.classes_, index=df.index)], axis=1)

In [96]:
df.shape

(1195, 5)

In [97]:
df

,gender,course,interest,skills,grades
0,0,13,[cloud computing],"[python, sql, java]",85
1,1,6,[technology],"[critical thinking, analytic thinking, sql, pr...",66.5
2,0,15,[understand human behaviour],"[people management, communication skills]",64.6
3,0,50,"[sales/marketing, trading, understand human be...","[accounting skills, critical thinking]",75.525
4,0,14,[technology],"[plc allen bradley, plc ladder logic, labview,...",70.68
...,...,...,...,...,...
1190,1,14,[technology],"[python, sql, oracle]",72.2
1191,1,13,[technology],"[sql, problem solving skills]",80.75
1192,1,14,"[technology, content writing]","[programming language skills, critical thinkin...",59.22
1193,1,22,"[financial analysis, technology]","[ai, java, sql, c++, r, linux]",57
1194,1,13,[animation],[2d/3d animation],76.285

In [98]:
import joblib

In [99]:
import os
import joblib

# Define the directory and file paths
model_dir = r'C:\Users\HP\Documents\GitHub\Career_recommendation\Model'
le_path = os.path.join(model_dir, 'le.pkl')
mlb_path = os.path.join(model_dir, 'mlb.pkl')

# Create the directory if it doesn't exist
os.makedirs(model_dir, exist_ok=True)

# Save the models
joblib.dump(le, le_path)
joblib.dump(mlb, mlb_path)

['C:\\Users\\HP\\Documents\\GitHub\\Career_recommendation\\Model\\mlb.pkl']

In [100]:
joblib.dump(le,r'C:\Users\HP\Documents\GitHub\Career_recommendation\Model\le.pkl')
joblib.dump(mlb,r'C:\Users\HP\Documents\GitHub\Career_recommendation\Model\mlb.pkl')

['C:\\Users\\HP\\Documents\\GitHub\\Career_recommendation\\Model\\mlb.pkl']

In [101]:
corr_matrix = df_encoded.corr()

print(corr_matrix)

                    gender    course    grades            agriculture  \
gender            1.000000  0.012200 -0.095024  0.019801     0.018491
course            0.012200  1.000000 -0.081325 -0.008488     0.103857
grades           -0.095024 -0.081325  1.000000  0.003469    -0.011620
                  0.019801 -0.008488  0.003469  1.000000    -0.002521
agriculture       0.018491  0.103857 -0.011620 -0.002521     1.000000
...                    ...       ...       ...       ...          ...
xilinx vivado     0.019801 -0.008488  0.016624 -0.000838    -0.002521
xml               0.028014 -0.012010  0.035928 -0.001185    -0.003567
yii2              0.019801 -0.008488  0.013701 -0.000838    -0.002521
zoho              0.019801 -0.008488  0.031241 -0.000838    -0.002521
zuul api gateway  0.019801 -0.008488  0.031241 -0.000838    -0.002521

                  all fields related to data science  \
gender                                      0.029232
course                                     -0.022515
grades                                      0.060488
                                           -0.002221
agriculture                                -0.006687
...                                              ...
xilinx vivado                              -0.002221
xml                                         0.533401
yii2                                        0.377014
zoho                                       -0.002221
zuul api gateway                           -0.002221

                  all fields related to data science.  \
gender                                       0.031356
course                                       0.065864
grades                                      -0.040321
                                            -0.005920
agriculture                                 -0.017820
...                                               ...
xilinx vivado                               -0.005920
xml                                         -0.008376
yii2                                        -0.005920
zoho                                        -0.005920
zuul api gateway                            -0.005920

                  all fields related to data science.machine learning  \
gender                                                     0.019801
course                                                    -0.008488
grades                                                    -0.012610
                                                          -0.000838
agriculture                                               -0.002521
...                                                             ...
xilinx vivado                                             -0.000838
xml                                                       -0.001185
yii2                                                      -0.000838
zoho                                                      -0.000838
zuul api gateway                                          -0.000838

                  analysis  animation  ...  working capital management  \
gender            0.019801   0.028014  ...                   -0.041659
course           -0.037363  -0.016095  ...                   -0.008488
grades           -0.000916   0.009664  ...                    0.006684
                 -0.000838  -0.001185  ...                   -0.000838
agriculture      -0.002521  -0.003567  ...                   -0.002521
...                    ...        ...  ...                         ...
xilinx vivado    -0.000838  -0.001185  ...                   -0.000838
xml              -0.001185  -0.001676  ...                   -0.001185
yii2             -0.000838  -0.001185  ...                   -0.000838
zoho             -0.000838  -0.001185  ...                   -0.000838
zuul api gateway -0.000838  -0.001185  ...                   -0.000838

                   writing  writing skills  x-ray crystallography     xcode  \
gender           -0.056290       -0.123823               0.019801  0.019801
course           -0.102495        0.075297              -0.011376 -0.008488
grades            0.008415        0.043893               0.039134  0.047027
                 -0.006770       -0.009489              -0.000838 -0.000838
agriculture      -0.020378        0.036825              -0.002521 -0.002521
...                    ...             ...                    ...       ...
xilinx vivado    -0.006770       -0.009489              -0.000838 -0.000838
xml              -0.009578       -0.013425              -0.001185 -0.001185
yii2             -0.006770       -0.009489              -0.000838 -0.000838
zoho             -0.006770       -0.009489              -0.000838 -0.000838
zuul api gateway -0.006770       -0.009489              -0.000838 -0.000838

                  xilinx vivado       xml      yii2      zoho  \
gender                 0.019801  0.028014  0.019801  0.019801
course                -0.008488 -0.012010 -0.008488 -0.008488
grades                 0.016624  0.035928  0.013701  0.031241
                      -0.000838 -0.001185 -0.000838 -0.000838
agriculture           -0.002521 -0.003567 -0.002521 -0.002521
...                         ...       ...       ...       ...
xilinx vivado          1.000000 -0.001185 -0.000838 -0.000838
xml                   -0.001185  1.000000  0.706811 -0.001185
yii2                  -0.000838  0.706811  1.000000 -0.000838
zoho                  -0.000838 -0.001185 -0.000838  1.000000
zuul api gateway      -0.000838 -0.001185 -0.000838  1.000000

                  zuul api gateway
gender                    0.019801
course                   -0.008488
grades                    0.031241
                         -0.000838
agriculture              -0.002521
...                            ...
xilinx vivado            -0.000838
xml                      -0.001185
yii2                     -0.000838
zoho                      1.000000
zuul api gateway          1.000000

[665 rows x 665 columns]

In [102]:
X=df_encoded.drop('course',axis=1)

In [103]:
Y=df['course']

In [104]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, random_state=101, test_size=0.2)

In [105]:
X.describe()

,gender,,agriculture,all fields related to data science,all fields related to data science.,all fields related to data science.machine learning,analysis,animation,application development,architecture and construction,...,working capital management,writing,writing skills,x-ray crystallography,xcode,xilinx vivado,xml,yii2,zoho,zuul api gateway
count,1195.000000,1195.000000,1195.000000,1195.000000,1195.000000,1195.000000,1195.000000,1195.000000,1195.000000,1195.000000,...,1195.000000,1195.000000,1195.000000,1195.000000,1195.000000,1195.000000,1195.000000,1195.000000,1195.000000,1195.000000
mean,0.677824,0.000837,0.007531,0.005858,0.040167,0.000837,0.000837,0.001674,0.000837,0.000837,...,0.000837,0.051883,0.097071,0.000837,0.000837,0.000837,0.001674,0.000837,0.000837,0.000837
std,0.471075,0.028928,0.086492,0.076343,0.196434,0.028928,0.028928,0.040893,0.028928,0.028928,...,0.028928,0.221883,0.296179,0.028928,0.028928,0.028928,0.040893,0.028928,0.028928,0.028928
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [106]:
from sklearn.preprocessing import StandardScaler
sc= StandardScaler()

In [107]:
X_train_std = sc.fit_transform(X_train)
X_test_std = sc.transform(X_test)

In [108]:
X_train_std

array([[ 0.68950992,  1.39747204, -0.03235924, ..., -0.03235924,
        -0.03235924, -0.03235924],
       [ 0.68950992, -1.64764932, -0.03235924, ..., -0.03235924,
        -0.03235924, -0.03235924],
       [ 0.68950992,  0.18155668, -0.03235924, ..., -0.03235924,
        -0.03235924, -0.03235924],
       ...,
       [ 0.68950992,  1.51906357, -0.03235924, ..., -0.03235924,
        -0.03235924, -0.03235924],
       [ 0.68950992, -0.73037984, -0.03235924, ..., -0.03235924,
        -0.03235924, -0.03235924],
       [-1.42321919,  0.48553552, -0.03235924, ..., -0.03235924,
        -0.03235924, -0.03235924]], shape=(956, 664))

In [109]:
X_test_std

array([[ 0.68950992, -0.52772728, -0.03235924, ..., -0.03235924,
        -0.03235924, -0.03235924],
       [-1.42321919,  0.92123852, -0.03235924, ..., -0.03235924,
        -0.03235924, -0.03235924],
       [-1.42321919,  0.80551324, -0.03235924, ..., -0.03235924,
        -0.03235924, -0.03235924],
       ...,
       [ 0.68950992,  0.07169766, -0.03235924, ..., -0.03235924,
        -0.03235924, -0.03235924],
       [-1.42321919,  0.37887628, -0.03235924, ..., -0.03235924,
        -0.03235924, -0.03235924],
       [-1.42321919,  0.99216692, -0.03235924, ..., -0.03235924,
        -0.03235924, -0.03235924]], shape=(239, 664))

In [110]:
Y_train

678    23
533    22
50     14
122    14
418    14
       ..
575    47
973    14
75      4
599    22
863    14
Name: course, Length: 956, dtype: int64

In [111]:
Y_test

463     22
352     13
860     13
1174    22
2       15
        ..
714     48
7       14
935     14
254      4
767     18
Name: course, Length: 239, dtype: int64

In [112]:
joblib.dump(sc,r'C:\Users\HP\Documents\GitHub\Career_recommendation\Model\sc.sav')

['C:\\Users\\HP\\Documents\\GitHub\\Career_recommendation\\Model\\sc.sav']

In [113]:
from sklearn.linear_model import LinearRegression
lr= LinearRegression()

In [114]:
lr.fit(X_train_std,Y_train)

LinearRegression()

In [115]:
X_test.head()

,gender,grades,,agriculture,all fields related to data science,all fields related to data science.,all fields related to data science.machine learning,analysis,animation,application development,...,working capital management,writing,writing skills,x-ray crystallography,xcode,xilinx vivado,xml,yii2,zoho,zuul api gateway
463,1,66.5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
352,0,80.085,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
860,0,79,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1174,1,65.55,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,64.6,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [116]:
Y_pred_lr=lr.predict(X_test_std)

In [117]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [118]:
print(r2_score(Y_test,Y_pred_lr))
print(mean_absolute_error(Y_test,Y_pred_lr))
print(np.sqrt(mean_squared_error(Y_test,Y_pred_lr)))

-0.4298866966674568
8.32728695732189
12.43153302269602

In [119]:
joblib.dump(lr,r'C:\Users\HP\Documents\GitHub\Career_recommendation\Model\lr.sav')

['C:\\Users\\HP\\Documents\\GitHub\\Career_recommendation\\Model\\lr.sav']

In [120]:
from sklearn.ensemble import RandomForestRegressor
rf= RandomForestRegressor()

In [121]:
rf.fit(X_train,Y_train)

RandomForestRegressor()

In [122]:
Y_pred_rf= rf.predict(X_test)

In [123]:
print(r2_score(Y_test,Y_pred_rf))
print(mean_absolute_error(Y_test,Y_pred_rf))
print(np.sqrt(mean_squared_error(Y_test,Y_pred_rf)))

-0.1095422735284608
6.8979121338912135
10.95079885529077

In [124]:
joblib.dump(rf,r'C:\Users\HP\Documents\GitHub\Career_recommendation\Model\rf.sav')

['C:\\Users\\HP\\Documents\\GitHub\\Career_recommendation\\Model\\rf.sav']

In [125]:
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.model_selection import GridSearchCV

# define models and parameters
model = RandomForestRegressor()
n_estimators = [10, 100, 1000]
max_depth=range(1,31)
min_samples_leaf=np.linspace(0.1, 1.0)
max_features=["auto", "sqrt", "log2"]
min_samples_split=np.linspace(0.1, 1.0, 10)

# define grid search
grid = dict(n_estimators=n_estimators, max_depth=max_depth)

#cv = RepeatedStratifiedKFold(n_splits=5, n_repeats=3, random_state=101)

grid_search_forest = GridSearchCV(estimator=model, param_grid=grid, n_jobs=-1,
                           scoring='r2',error_score=0,verbose=2,cv=2)

grid_search_forest.fit(X_train_std, Y_train)

# summarize results
print(f"Best: {grid_search_forest.best_score_:.3f} using {grid_search_forest.best_params_}")
means = grid_search_forest.cv_results_['mean_test_score']
stds = grid_search_forest.cv_results_['std_test_score']
params = grid_search_forest.cv_results_['params']

for mean, stdev, param in zip(means, stds, params):
    print(f"{mean:.3f} ({stdev:.3f}) with: {param}")

Fitting 2 folds for each of 90 candidates, totalling 180 fits
Best: 0.025 using {'max_depth': 2, 'n_estimators': 10}
0.009 (0.010) with: {'max_depth': 1, 'n_estimators': 10}
0.013 (0.004) with: {'max_depth': 1, 'n_estimators': 100}
0.011 (0.005) with: {'max_depth': 1, 'n_estimators': 1000}
0.025 (0.017) with: {'max_depth': 2, 'n_estimators': 10}
0.014 (0.009) with: {'max_depth': 2, 'n_estimators': 100}
0.012 (0.009) with: {'max_depth': 2, 'n_estimators': 1000}
-0.009 (0.014) with: {'max_depth': 3, 'n_estimators': 10}
0.009 (0.032) with: {'max_depth': 3, 'n_estimators': 100}
0.010 (0.023) with: {'max_depth': 3, 'n_estimators': 1000}
-0.015 (0.060) with: {'max_depth': 4, 'n_estimators': 10}
0.006 (0.034) with: {'max_depth': 4, 'n_estimators': 100}
0.004 (0.035) with: {'max_depth': 4, 'n_estimators': 1000}
-0.039 (0.027) with: {'max_depth': 5, 'n_estimators': 10}
-0.007 (0.053) with: {'max_depth': 5, 'n_estimators': 100}
-0.004 (0.048) with: {'max_depth': 5, 'n_estimators': 1000}
-0.041 (0.035) with: {'max_depth': 6, 'n_estimators': 10}
-0.025 (0.062) with: {'max_depth': 6, 'n_estimators': 100}
-0.011 (0.056) with: {'max_depth': 6, 'n_estimators': 1000}
-0.045 (0.061) with: {'max_depth': 7, 'n_estimators': 10}
-0.029 (0.068) with: {'max_depth': 7, 'n_estimators': 100}
-0.013 (0.060) with: {'max_depth': 7, 'n_estimators': 1000}
-0.064 (0.055) with: {'max_depth': 8, 'n_estimators': 10}
-0.020 (0.060) with: {'max_depth': 8, 'n_estimators': 100}
-0.023 (0.068) with: {'max_depth': 8, 'n_estimators': 1000}
-0.066 (0.059) with: {'max_depth': 9, 'n_estimators': 10}
-0.025 (0.084) with: {'max_depth': 9, 'n_estimators': 100}
-0.030 (0.073) with: {'max_depth': 9, 'n_estimators': 1000}
-0.123 (0.071) with: {'max_depth': 10, 'n_estimators': 10}
-0.042 (0.068) with: {'max_depth': 10, 'n_estimators': 100}
-0.038 (0.071) with: {'max_depth': 10, 'n_estimators': 1000}
-0.097 (0.085) with: {'max_depth': 11, 'n_estimators': 10}
-0.038 (0.063) with: {'max_depth': 11, 'n_estimators': 100}
-0.041 (0.074) with: {'max_depth': 11, 'n_estimators': 1000}
-0.100 (0.072) with: {'max_depth': 12, 'n_estimators': 10}
-0.062 (0.067) with: {'max_depth': 12, 'n_estimators': 100}
-0.042 (0.074) with: {'max_depth': 12, 'n_estimators': 1000}
-0.165 (0.115) with: {'max_depth': 13, 'n_estimators': 10}
-0.060 (0.077) with: {'max_depth': 13, 'n_estimators': 100}
-0.055 (0.076) with: {'max_depth': 13, 'n_estimators': 1000}
-0.126 (0.062) with: {'max_depth': 14, 'n_estimators': 10}
-0.052 (0.079) with: {'max_depth': 14, 'n_estimators': 100}
-0.055 (0.077) with: {'max_depth': 14, 'n_estimators': 1000}
-0.098 (0.048) with: {'max_depth': 15, 'n_estimators': 10}
-0.071 (0.071) with: {'max_depth': 15, 'n_estimators': 100}
-0.058 (0.074) with: {'max_depth': 15, 'n_estimators': 1000}
-0.116 (0.074) with: {'max_depth': 16, 'n_estimators': 10}
-0.060 (0.076) with: {'max_depth': 16, 'n_estimators': 100}
-0.060 (0.071) with: {'max_depth': 16, 'n_estimators': 1000}
-0.137 (0.057) with: {'max_depth': 17, 'n_estimators': 10}
-0.065 (0.084) with: {'max_depth': 17, 'n_estimators': 100}
-0.063 (0.071) with: {'max_depth': 17, 'n_estimators': 1000}
-0.146 (0.085) with: {'max_depth': 18, 'n_estimators': 10}
-0.058 (0.067) with: {'max_depth': 18, 'n_estimators': 100}
-0.063 (0.074) with: {'max_depth': 18, 'n_estimators': 1000}
-0.109 (0.103) with: {'max_depth': 19, 'n_estimators': 10}
-0.075 (0.092) with: {'max_depth': 19, 'n_estimators': 100}
-0.067 (0.075) with: {'max_depth': 19, 'n_estimators': 1000}
-0.121 (0.103) with: {'max_depth': 20, 'n_estimators': 10}
-0.072 (0.073) with: {'max_depth': 20, 'n_estimators': 100}
-0.066 (0.072) with: {'max_depth': 20, 'n_estimators': 1000}
-0.158 (0.087) with: {'max_depth': 21, 'n_estimators': 10}
-0.053 (0.073) with: {'max_depth': 21, 'n_estimators': 100}
-0.065 (0.077) with: {'max_depth': 21, 'n_estimators': 1000}
-0.122 (0.128) with: {'max_depth': 22, 'n_estimators': 10}
-0.078 (0.074) with: {'max_depth': 22, 'n_estimators': 100}
-0.066 (0.072) with: {'max_depth': 22, 'n_estimators': 1000}
-0.129 (0.055) with: {'max_depth': 23, 'n_estimators': 10}
-0.075 (0.082) with: {'max_depth': 23, 'n_estimators': 100}
-0.070 (0.074) with: {'max_depth': 23, 'n_estimators': 1000}
-0.141 (0.052) with: {'max_depth': 24, 'n_estimators': 10}
-0.057 (0.056) with: {'max_depth': 24, 'n_estimators': 100}
-0.072 (0.069) with: {'max_depth': 24, 'n_estimators': 1000}
-0.226 (0.071) with: {'max_depth': 25, 'n_estimators': 10}
-0.089 (0.083) with: {'max_depth': 25, 'n_estimators': 100}
-0.070 (0.072) with: {'max_depth': 25, 'n_estimators': 1000}
-0.182 (0.077) with: {'max_depth': 26, 'n_estimators': 10}
-0.085 (0.077) with: {'max_depth': 26, 'n_estimators': 100}
-0.066 (0.071) with: {'max_depth': 26, 'n_estimators': 1000}
-0.181 (0.074) with: {'max_depth': 27, 'n_estimators': 10}
-0.078 (0.082) with: {'max_depth': 27, 'n_estimators': 100}
-0.070 (0.076) with: {'max_depth': 27, 'n_estimators': 1000}
-0.142 (0.050) with: {'max_depth': 28, 'n_estimators': 10}
-0.077 (0.077) with: {'max_depth': 28, 'n_estimators': 100}
-0.075 (0.071) with: {'max_depth': 28, 'n_estimators': 1000}
-0.105 (0.049) with: {'max_depth': 29, 'n_estimators': 10}
-0.087 (0.071) with: {'max_depth': 29, 'n_estimators': 100}
-0.065 (0.081) with: {'max_depth': 29, 'n_estimators': 1000}
-0.219 (0.002) with: {'max_depth': 30, 'n_estimators': 10}
-0.079 (0.068) with: {'max_depth': 30, 'n_estimators': 100}
-0.068 (0.080) with: {'max_depth': 30, 'n_estimators': 1000}

In [126]:
grid_search_forest.best_params_

{'max_depth': 2, 'n_estimators': 10}

In [127]:
grid_search_forest.best_score_

np.float64(0.02495095809607617)

In [128]:
Y_pred_rf_grid=grid_search_forest.predict(X_test_std)

In [129]:
joblib.dump(grid_search_forest,r'C:\Users\HP\Documents\GitHub\Career_recommendation\Model\random_forest_grid2.sav')

['C:\\Users\\HP\\Documents\\GitHub\\Career_recommendation\\Model\\random_forest_grid2.sav']